<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <nav class="be-red white">
    <ul class="navbar"> 
        <h2 class="navbar"><%= link_to "Inicio", root_path%></h2>
        <li class="navbar">Blogs</li>
        <li class="navbar">Otros</li>
        <div>
      <% if user_signed_in? %>
      Hola  <strong><%= current_user.email %>!</strong>
      <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'btn btn-default btn-sm' %> 
      <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'btn btn-secondary btn-sm'  %>
      <% else %>
      <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
  </div>
      
    </ul>
  </nav>

  <%# para configuracion inicial  de devise%>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%#  %>


<div class="navbar justify-content-end">


</div>

<%#  %>
<%# para configuracion inicial de devise %>


    <%= yield %>
  </body>
</html>
