<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav class="navcolor orange">
    <ul class="navbar"> 
      <h2 class="navbar"> <i class="fa fa-home"> </i><%= link_to "Inicio", root_path%></h2>
      <% if user_signed_in? %>
          <h5 class="navbar"> <i class="fa fa-newspaper-o"> <%= link_to "Articulos", articles_path%></i></h5>
          <h5><i class="fa fa-user"> <%=link_to "Mis articulos", myarticles_path%></i></h5>

          <div>
              <h6> Hola  <strong><%= current_user.email %>!</strong>
                  <%= link_to '', edit_user_registration_path, :class => 'btn btn-default btn-sm fa fa-user', :title => 'Editar Perfil' %> 
                  <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'fa fa-times' , :title => 'Salir' %>
              </h6>
            <% else %>
            <h6><%= link_to "Registrate", new_user_registration_path, :class => 'fa fa-check'  %> </h6>
            <h6><%= link_to "Accede a tu cuenta...", new_user_session_path, :class => 'fa fa-arrow-right'  %></h6>
            <% end %>
          </div>
      
    </ul>
  </nav>

  <%# para notificaciones%>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%# para configuracion inicial de devise %>
    <%= yield %>

    <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 title">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-instagram"> </i>
          </a>
        
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> <a> Blog</a> por Hector Reinosa
      
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  </body>
</html>
